<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" href="/static/css/style.css">
      <!-- import bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body class="about-page">
   <!---Navigation bar --->
   <nav class="navbar-calc">
     <a class="navbar-calc" href="/templates/index.html">Home</a>
     <a class="navbar-calc" href="/templates/calc.html">Calculator</a>
     <a class="navbar-calc" href="/templates/socialgood.html">Social Good</a>
     <a class="navbar-calc" href="/templates/about.html">About (you are here)</a>
   </nav>
    <!-- End of nav bar -->
        
<!-- import bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

        <div class="res-head">
          <h1 class="aboutus">About Us!</h1>
          <br>
          <br>
        </div>
      <br>
      <br>

    <div class="abt-us">
      <h1 class="abtus-q"> Our Mission</h1>
      <p>We believe financial independence is a vital part of our lives to ensure a long and fulfilling life.</p>

      <h1 class="abtus-q"> Our Services</h1>
      <p>Budgeting by hand takes a lot of time and effort. This simple and interactive tool will provide you with the resources to take control of your hard-earned money using the 50/30/20 rule.</p>

      <h1 class="abtus-q"> Our Story</h1>
      <p>We are Faith, Jerson, Nooraan, and Youssra- part of FinTech Focus' 2023 Wells Fargo Session A cohort. FinTech Focus is a two-week program providing incoming college freshmen with the principles of computer science and exposure to the financial industry. FinTech Focus is sponsored by financial institutions such as Bank of America, JPMorgan Chase & Co., Morgan Stanley, and Wells Fargo. 
</p>
      
      <h1 class="abtus-q"> Acknowledgements</h1>
      <p>Special thank you to Emily Fields and Alex Torres, our incredible and hilarious instructors; Lelaine Perez, our DJ teacher assistant;  Brandon Vermeer and Uma Vodoor, our Wells Fargo mentors; and last but not least, our fellow peers. Thank you to all that supported us on this journey! 
</p>      
    </div>

      <br>
      <br>
      <br>
<div class="footer">
    ©2023 Faith, Jerson, Nooraan, Youssra. All Rights Reserved.
  </div>
      
  </body>
</html>