<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" href="../static/css/style.css">
      <!-- import bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
  <body class="socialgood-page">
     <!---Navigation bar --->
     <nav class="navbar-calc">
      <a class="navbar-calc" href="/templates/index.html">Home</a>
      <a class="navbar-calc" href="/templates/calc.html">Calculator</a>
      <a class="navbar-calc" href="/templates/socialgood.html">Social Good (you are here)</a>
      <a class="navbar-calc" href="/templates/about.html">About</a>
  
     </nav>
      <!-- End of nav bar -->

        <div class="res-head">
          <h1 class="results" id="res-title">Social Good</h1>
          <h4 class="results">Here's some options for how you can contribute to your community. Please use our category suggestion from your calculator results (and use our calculator if you haven't)!</h4>
          <br>
          <br>
        </div>

        <br>
        <br>
    
        <img src="static/images/micropig.jpg" alt="image of small cute pig wearing red rain boots" id="pig-pic">    
    <br>
    <br>
    
      <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col">
            <h3 class="prompt"><b>With Disposable Income</b></h3>
            <br>
            <br>
            <h5>Donate to Non-Profit Organizations</h5><a class="soc-link" href="https://greatnonprofits.org/city/new-york/NY""><h5>NYC Non-Profit Orgainizations</h5></a>
            <br>
            <br>
              <h5>Support the GoFundMes of Marginalized People</h5><a class="soc-link"href="https://www.gofundme.com/""><h5>GoFundMe</h5></a>
            <br>
            <br>
            </div>
          <div class="col">
            <h3 class="prompt"><b>W/O Disposable Income</b></h3>
            <br>
            <br>
              <h5>Re-direct your money to a</h5><a class="soc-link"" href="https://www.bcorporation.net/en-us/find-a-b-corp/"><h5>B-Corporation</h5></a>
            <br>
            <br>
          </div>
          <div class="col">
            <h3 class="prompt"><b>No Money Required</b></h3>
            <br>
            <br>
            <h5>Volunteering</h5>
             <br>
            <br>
              <h5>Reduce Consumption</h5>
              <br>
            <br>
            <h5>Sign/Boost Petitions</h5>
       </div>
      </div>
      </div>

    <br>
    <br>
    

    
      <div class="footer">
    ©2023 Faith, Jerson, Nooraan, Youssra. All Rights Reserved.
         </div>

    <!-- import bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

     

  </body>
</html>
          